*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
  overflow-x: hidden;
}

body{
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;


}



 #header-first-container{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}

#header-Subcontainer01{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#header-Subcontainer01 img{
    width:60px;
}

#header-Subcontainer01 span{
    font-size: large;
    font-weight: 900;
}

#header-Subcontainer02{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#header-Subcontainer02-div{
    display: flex;
    gap: 40px;


}


#header-Subcontainer02-div i{
    margin-top: 20px;
    font-size: x-large;
    color: red;
}


#header-Subcontainer02-div p{
    margin-top: 10px;
    color: orange;
    font-weight: 800;
    font-size: small;
}

#header-Subcontainer02-div p span{
    color: rgb(255, 102, 0);
    font-weight: 400;
    font-size: large;
    
} 


/* Nav Bar */
 
#nav-bar{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#nav-bar ul{
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 60%;
}

#nav-bar ul li a{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    transition: all 1s ease-in-out;
    font-weight: 600;

    
}

#nav-bar ul li a:hover{
    font-size: 14px;
    font-weight: bolder;
    color: orange;
}

.content {
    padding: 16px;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;

  }
  
.sticky + .content{
    padding-top: 60px;
  }




/* nav bar with logo */

#nav-with-logo{
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
    
}

#nav-with-logo-container01{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#nav-with-logo-container01 img{
    width: 60px;
}

#nav-with-logo-container01 span{
    font-size: large;
  
    font-weight: 900;
}

#nav-with-logo-container02 ul{
    padding-left: 200px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

#nav-with-logo-container02 ul li a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

#nav-with-logo-container02 ul li a:hover{
    color: orange;
} 


/* another style of nav bar with logo */

.moblie-navbar-icon{
  display: none;
  width: 4rem;
  height: 4rem;

}


.fa-xmark{
  display: none;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .swiper-slide img {

    height: 85vh;
    width: 90vw;

  }


  #silder-container02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 90vw;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(255, 0, 0, 0.838));
    position: absolute;
    z-index: 1;
    color: #fff;
    z-index: 999;

    
  }

  #silder-container02 h1{
    font-weight: bolder;
    font-size: 70px;
  }


/* 
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
/* About us section style */

  #AboutUs-section{
    margin-top: 200px;
  }

  #AboutUs-section-main-container{
    width: 100vw;
    display: flex;
    
  }

  #AboutUs-section-Subcontainer01{
    width: 50vw;
    padding-left: 40px;
  }

  #AboutUs-section-Subcontainer01-p1{
    color: rgb(255, 42, 0);
    font-weight: 900;
    margin-bottom: 5px;
  }

  #AboutUs-section-Subcontainer01-p2{
    margin-top: 35px;
  }

  #AboutUs-section-Subcontainer02{
    display: flex;
    align-items: center;
    justify-content:end;
    
    width: 45vw;
    /* border: 2px solid red; */
  }

  #AboutUs-section-Subcontainer02-img{
    width: 320px;
    height: 320px;
    margin-right: 30px;
  }

  #AboutUs-section-Subcontainer01-btn{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: green;
    border: 2px solid green;
    color: #fff;
  
  }
  #AboutUs-section-Subcontainer01-btn i{
    padding-left: 5px;
  }

  #AboutUs-section-Subcontainer01-btn:hover{
    background-color: red;
    border: 2px solid red;

  }

  /* Product section style */

  #Product-section{
    margin-top: 100px;
  }

  #Product-section-container01{
    text-align: center;
  }

  #Product-section-container01 p{
    font-weight: 700;
    color: red;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #Product-section-container01 h1{
    font-size: xx-large;
    font-weight: 900;
  }


  #Product-section-container02{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #Product-section-container02-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 320px;
    border: 1px solid rgb(207, 207, 207);
    gap: 15px;
    transition: all 0.5s ease-in-out;
  }

  #Product-section-container02-01:hover{
    box-shadow:  2px 2px 5px 2px rgb(218, 218, 218);

  }

  #Product-section-container02-01 img{
    width: 150px;
    border-radius: 50%;
  }

  #Product-section-container02-01 span{
    font-size: x-large;
    color: red;
    font-weight: 900;
  }
  #Product-section-container02-01-btn{
    background-color: green;
    border: 2px solid green;
    color: #fff;

    padding: 8px 15px;
  }

  #Product-after-section{
    margin-top: 100px;
  }

  #Product-after-section-container01{
    width: 100vw;
  }

  #Product-after-section-container01 img{
    width: 100vw;
  }

  /* Teams section */

  #Team-section{
    margin-top: 100px;
  }

  #Team-section-container01{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
  }

  #Team-section-container01 p{
    color: red;
    font-weight: 900;
    margin-bottom: 10px;
  }

  #Team-section-container01 h1{
    font-size: x-large;
    font-weight: 900;
  }

  #Team-section-container02{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #Team-section-Subconatiner{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* border: 2px solid red; */
    width: 250px;
    gap: 20px;
  }

  #Team-section-Subconatiner img{
    width: 150px;
  }

  #Team-section-Subconatiner div{
    padding-left: 20px;
  } 

  #Team-section-Subconatiner div h2{
    color: rgb(230, 96, 0);

  }

  #Team-section-Subconatiner div p{
    color: rgb(255, 115, 0);

  }

  #Team-section-Subconatiner-para{
    padding-left: 20px;
    padding-bottom: 30px;
  }


  #Testimonials-section{
    margin-top: 100px;
  }

  #Testimonials-section-container01{
    margin-top: 20px;
    text-align: center;
  }

  #Testimonials-section-container01 p{
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(244, 16, 4);
  }

  #Testimonials-section-container01 h1{
    font-weight:900 ;
  }


 
  .swiper01 {
    margin-top: 50px;
    width: 43vw;
    z-index: -1;
  }

  .swiper-slide01{
    /* text-align: center; */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  

  }

  .swiper-slide01 img{
    margin-left: 15px;
    width: 42vw;
    margin-bottom: 30px;
  }

  
  #Testimonials-img01{
    margin-left: -5px;
  }

  #Testimonials-img02{
    margin-left: 40px;
  }


  #Contact-section{
    margin-top: 100px;
  }

  #Contact-main-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: start;
  }

  #Contact-subcontainer01{
    margin-left: 20px;
    /* border: 2px solid green; */
    width: 20vw;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;

  }

  #Contact-subcontainer01 p{
    width: 18vw;
  }

  #Contact-subcontainer01-01{
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

  #Contact-subcontainer01-01-btn{
    padding: 8px 15px;
    color: white;
    background-color: green;
    border: 2px solid green;
  }

  #Contact-subcontainer01-01-line{
    color: #eb9c0b;
    width: 5px;
    

  }
  #Contact-subcontainer01-01 h2{
    margin-left: 10px;
    font-weight: 600;
  }

  #Contact-subcontainer02{
    /* border: 2px solid red; */
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }  

  #Contact-subcontainer02-div span{
    margin-left: 10px;
  }


  #social-media-icons{
    display: flex;
    gap: 20px;
    font-size: large;

  }

  #social-media-icons i:hover{
    color: #eb9c0b;
  }
  #Contact-subcontainer03{
    width: 15vw;
  }

  #Contact-subcontainer03-div ul{
    padding-left: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  #Contact-subcontainer03-div ul a{
    text-decoration: none;
    color: black;


  }
  #Contact-subcontainer04{
    width: 25vw;
  }

  #Contact-subcontainer04-div{
    width: 20vw;
  }

  .swiper-product {
    width: 25vw;
    height: 100%;
  }

  .swiper-product .swiper-slide {
    margin-top: 10px;
    text-align: center;
    /* font-size: 18px; */
    background: #fff;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .swiper-product .swiper-slide img {
    width: 250px;
    height: 270px;

  }

  /* Footer section */
  #footer-section{
    margin-top: 100px;
  }

  #footer-section-container{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #eb9c0b;
    font-weight: 800;
  }


  /* ************************************************************************************************************************************************************************************************************************************************************************* */
  /* Moblie Responsive Style*/

@media (max-width : 1024px){
  #header-first-container{
    display: none;
  }

  #NB{
    display: none;
  }

  #nav-with-logo{
    display: block;
    /* position: fixed;
    width: 100vw;
    top: 0; */
    z-index: 999;
  }

  /* #nav-with-logo #nav-with-logo-container02 ul{
    display: none;
  } */


  /* nav bar with logo style for mobile */

  #nav-with-logo{
    padding-left: 0%;
    position: relative;
    /* background-color: #fff; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color:  white;
    z-index: 999;
    display: flex;
    height: 13vh;
}

/* #social-media-icons{
    display: none;
}
 */

 #nav-with-logo ul{
    /* background-color: grey; */
    margin-top: 90px; 
    padding-left: 0px;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(118, 222, 174); */
   background-color: white;
   color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 0.5s linear;


    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* #nav-bar-logo-icons{
    display: flex;
    justify-content: center;
    align-items: center;

} */


#nav-with-logo-container02 ul li a{
    color: black;
    font-weight: 500;
}


#nav-with-logo-container02 ul li a:hover{
    color: black;
}




.active #nav-with-logo-container02 ul{
    transform: translateY(0);
    opacity: 1;

    visibility: visible;
    pointer-events: auto;

}

.active .mobile-navbar-btn .fa-xmark{
    display: block;
    font-size: 2rem;
    margin-top: 40px;
    color: black;
    
} 

.active .mobile-navbar-btn .fa-bars{

    display: none;
}


.fa-bars{
    font-size: 2rem;
    margin-top: 40px;
    display: block;
    z-index: 999;
    color: black;
    margin-left: 20px;
}


/* Main silder image */
  #main-slider-section{
    margin-top: 100px;
    width: 100vw;
    height: 60vh;
  }

  .m-slider-s {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .swiper-slide img {

    height: 70vh;
    width: 100%;

  }


  #silder-container02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(255, 0, 0, 0.838));
    position: absolute;
    color: #fff;

    
  }

  #silder-container02 h1{
    font-weight: bolder;
    font-size: 70px;
  }

  /* About us section */

  #AboutUs-section-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #AboutUs-section-Subcontainer01{
    padding-left: 10px;
    width: 90%;
  }

  #AboutUs-section-Subcontainer02{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  /* Product section style */

  #Product-section-container02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
  }

  #Product-section-container02-01{
    margin-bottom: 30px;
  }

  #Product-after-section-container01 img{
    width: 100%;
    height:300px;
  }

  #Team-section-container02{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

  }


  /* testimonials  section*/

  .swiper01 {
    margin-top: 50px;
    width: 100vw;
    z-index: -1;
  }

  .swiper-slide01{
    /* text-align: center; */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  

  }

  .swiper-slide01 img{
    margin-left: 15px;
    width: 100vw;
    margin-bottom: 30px;
  }

  
  #Testimonials-img01{
    margin-left: -5px;
  }

  #Testimonials-img02{
    margin-left: 40px;
  }

  #Contact-main-container{
    display: flex;
    flex-direction: column;
    gap: 30px;

    
  }

  #Contact-subcontainer01{
    width: 100%;
  }

  #Contact-subcontainer01 p{
    width: 80%;
  }

  #Contact-subcontainer02{
    
    padding-left: 20px;
    width: 100%;
  }

  
  #Contact-subcontainer03{
    
    padding-left: 20px;
    width: 100%;
  }

  
  #Contact-subcontainer04{
    
    padding-left: 20px;
    width: 100%;
  }

  .swiper-product {
    width: 100vw;
    height: 100%;
  }

  .swiper-product .swiper-slide {
    margin-top: 10px;
    text-align: center;
    /* font-size: 18px; */
    background: #fff;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .swiper-product .swiper-slide img {
    width: 90%;
    height: 270px;

  }









  




}













